[run]
branch = True

[report]
omit =
    *__init__.py
	*/tests/*
	*/visualization/*
	*/algorithms/*

exclude_lines =
    raise NotImplementedError
    def _-repr__
    if __name == .__main__.:
    if 0:
    def main():
